@model IEnumerable<OfficeGym.Models.OfficeEquipmentGym>

@{
    ViewData["Title"] = "Office equipments gym";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Office equipments gym</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EquipmentGymName)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.AvailableEquipments)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.MotorHorsePower)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var equipment in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(e => equipment.EquipmentGymName)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(e => equipment.AvailableEquipments)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(e => equipment.MotorHorsePower)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(e => equipment.IsActive)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@equipment.OfficeEquipmentGymId" class="btn btn-primary">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>